<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">HST</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("LearnMore", "Home")">Learn More</a></li>
                <li><a href="@Url.Action("Notes", "Home")">Notes</a></li>
                <li><a href="@Url.Action("GetStarted", "Home")">Get Started</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <h2>Weeks 1 & 2</h2>


        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h4>Week1</h4>


        </div>
        <div class="col-xs-3">
            <p><a class="btn btn-danger" href="@Url.Action("Day1", "Table_1")">Day 1 &raquo;</a></p>


        </div>
        <div class="col-xs-3">
            <p><a class="btn btn-danger" href="@Url.Action("Day2", "Table_1")">Day 2 &raquo;</a></p>


        </div>
        <div class="col-xs-3">
            <p><a class="btn btn-danger" href="@Url.Action("Day3", "Table_1")">Day 3 &raquo;</a></p>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h4>Week2</h4>


        </div>
        <div class="col-xs-3">
            <p><a class="btn btn-danger" href="@Url.Action("Day4", "Table_1")">Day 4 &raquo;</a></p>


        </div>
        <div class="col-xs-3">
            <p><a class="btn btn-danger" href="@Url.Action("Day5", "Table_1")">Day 5 &raquo;</a></p>


        </div>
        <div class="col-xs-3">
            <p><a class="btn btn-danger" href="@Url.Action("Day6", "Table_1")">Day 6 &raquo;</a></p>

        </div>
    </div>
</div>
