<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">HST</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("LearnMore", "Home")">Learn More</a></li>
                <li><a href="@Url.Action("Notes", "Home")">Notes</a></li>
                <li><a href="@Url.Action("GetStarted", "Home")">Get Started</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Weeks 3 & 4</h2>


        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h4>Week3</h4>


        </div>
        <div class="col-xs-3">
            <p><a class="btn btn-danger" href="@Url.Action("Day7", "Table_1")">Day 7 &raquo;</a></p>


        </div>
        <div class="col-xs-3">
            <p><a class="btn btn-danger" href="@Url.Action("Day8", "Table_1")">Day 8 &raquo;</a></p>


        </div>
        <div class="col-xs-3">
            <p><a class="btn btn-danger" href="@Url.Action("Day9", "Table_1")">Day 9 &raquo;</a></p>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <h4>Week4</h4>


        </div>
        <div class="col-xs-3">
            <p><a class="btn btn-danger" href="@Url.Action("Day10", "Table_1")">Day 10 &raquo;</a></p>


        </div>
        <div class="col-xs-3">
            <p><a class="btn btn-danger" href="@Url.Action("Day11", "Table_1")">Day 11 &raquo;</a></p>


        </div>
        <div class="col-xs-3">
            <p><a class="btn btn-danger" href="@Url.Action("Day12", "Table_1")">Day 12 &raquo;</a></p>

        </div>
    </div>
</div>