@model IEnumerable<HST.Models.Order008>


@{
    ViewBag.Title = "Day 8";
}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">HST</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="@Url.Action("LearnMore", "Home")">Learn More</a></li>
                <li><a href="@Url.Action("Notes", "Home")">Notes</a></li>
                <li><a href="@Url.Action("GetStarted", "Home")">Get Started</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <h2>Day 8</h2>
    <br>
    <div class="row">
        <div class="col-xs-12">

            <table class="table table-hover">

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Exercise)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.W)
                    </th>

                    <th>
                        <p>Set 1</p>
                    </th>
                    <th>
                        <p>Set 2</p>
                    </th>


                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>

                            @Html.DisplayFor(model => item.Exercise)

                        </td>

                        <td>
                            @Html.DisplayFor(model => item.W)
                        </td>

                        <td>
                            <input type="checkbox" name="myTextEditBox" value="checked" />
                        </td>
                        <td>
                            <input type="checkbox" name="myTextEditBox" value="checked" />
                        </td>

                    </tr>


                    }

                </table>


            </div>


        </div>
    </div>